<div class="container">
	<div class="row">
		<h1 class="text-center">『おにぎり』<br>
			のように力を合わせられるチーム</h1>
	</div>
		<div class="row">
		<h2>メンバー</h2>
		<p>しげる</p>
		<p>茄子</p>
		<p>まりちゃん</p>
		<p>きんにくん</p>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2>MAP</h2>
			<div id='map'></div>

			<style>
			#map{
			  height: 400px;
			}
			</style>

			<script>
			function initMap(){
			  let map = new google.maps.Map(document.getElementById('map'), {
			  center: {lat: 35.664678, lng: 139.73782},
			  zoom: 18
			  });
			  var marker = new google.maps.Marker( {
				map: map ,
				position: new google.maps.LatLng( 35.664678, 139.73782 ) ,
			});
			}
			</script>
			<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_API_KEY']%>&callback=initMap" async defer></script>
			<br>
			<div class="row">
				<p>東京都港区六本木三丁目2番1号<br>
				   住友不動産六本木グランドタワーDMMグループ総合受付24階<br>
				</p>
			</div>
			<div class="row">
				<h2 class="text-center">チーム概要</h2>
			</div>
			<div class="row">
				<div class="col-xs-offset-2 col-xs-2">チーム名</div>
				<div class="col-xs-8">チーム芸能人</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-2 col-xs-2">設立</div>
				<div class="col-xs-8">2020年5月11日</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-2 col-xs-2">活動内容</div>
				<div class="col-xs-8">DMMWEBCAMP 2ヶ月目 チーム開発</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-2 col-xs-2">所在地</div>
				<div class="col-xs-8">東京都港区六本木三丁目2番1号住友不動産六本木グランドタワーDMMグループ総合受付24階</div>
			</div>
		</div>
	</div>
</div>