<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset_1">
      <span class="title_staffs_orders_show">
        <h3>注文履歴詳細</h3>
      </span>
    </div>
  </div>
</div>

<div class="container" style ="margin-bottom: 50px;">
	<div class="row">
		<div class="col-xs-3">
			<p><strong>購入者</strong></p>
		</div>
		<div class ="col-xs-9">
			<p>山田　花子</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			<p><strong>配送先</strong></p>
		</div>
		<div class ="col-xs-9">
			<p>〒150-0041　東京都渋谷区神南１丁目１９−１１　パークウェースクエア２４階</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			<p><strong>支払い方法</strong></p>
		</div>
		<div class ="col-xs-9">
			<p>銀行振込</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			<p><strong>注文ステータス</strong></p>
		</div>
		<div class ="col-xs-9">
			<p>入金待ち（enumで設定する）</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-8" style ="margin-right: 30px;">
			<table class="table">
				<thread>
					<tr>
						<th>商品名</th>
						<th>単価（税込）</th>
						<th>数量</th>
						<th>小計</th>
						<th>制作ステータス</th>
					</tr>
				</thread>
				<tbody>
					<tr>
						<td>洋梨のチーズタルト</td>
						<td>1,200</td>
						<td>1</td>
						<td>1,200</td>
						<td>着手不可（enumで設定する）</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class ="col-xs-3">
			<div class="row">
				<div class="col-xs-8">
						<p><strong>商品合計</strong></p>
				</div>
				<div class="col-xs-4">
						<p class="text-right">7,150円</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<p><strong>送料</strong></p>
				</div>
				<div class="col-xs-4">
					<p class="text-right">800円</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<p><strong>請求金額合計</strong></p>
				</div>
				<div class="col-xs-4">
					<p class="text-right">7,950円</p>
				</div>
			</div>
		</div>
	</div>
</div>

