/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

header {
    height:115px;
}

body{
	margin-top:150px;
}


/* 共通ヘッダ設定用 */

li{
	padding-top:10px;
}

li{
	margin-left:5px;
}

.allbtn{
    font-weight: 700;
    border-radius:20px;
}

.logo{
	max-height:100px;
	max-width:300px;
	position:relative;
}

.logo_span{
	display:block;
	position:absolute;
	left:0px;
	top:15px;
	font-family: 'Londrina Shadow', cursive;
	font-size:60px;
}

.logo_image{
	position:absolute;
	left:290px;
	top:26px;
}

/* 共通ヘッダ設定用 */


/* 管理者ログイン画面用 */

.email_input{
	width: 300px;
    height: 40px;
    margin-left:20px;
}

.password_input{
	width: 300px;
    height: 40px;
    margin-left:20px;
    margin-bottom:40px;
}

.title_staffs_login{
	display:block;
	margin-bottom:100px;
	background-color:#CCCCCC;
	text-align: center;
}
/* 管理者ログイン画面用 */


/* 管理者ログイン後ヘッダ用 */

.search_input{
	height:30px;
	width:215px;
	padding:0 10px;
	position:absolute;
	left:25px;
	top:0;
	border-radius:5px;
	background: white;
}

.submit_btn{
	height:50px;
	position:absolute;
	left:210px;
	top:4px;
	background:none;
	color:#666;
	border:none;
	height:24px;
	width:24px;
}

.submit_btn:focus{
	outline:0;
}

/* 管理者ログイン後ヘッダ用 */


/* 管理者トップ画面用 */

.title_staffs_top{
	display:block;
	margin-bottom:100px;
	background-color:#CCCCCC;
	text-align: center;
}

.order_count{
	display:block;
	font-size:30px;
	margin-left:200px;
}

/* 管理者トップ画面用 */


/* 管理者ジャンル一覧・追加画面用 */

.title_staffs_genre{
	display:block;
	margin-bottom:100px;
	background-color:#CCCCCC;
	text-align: center;
}

/* 管理者ジャンル一覧・追加画面用 */


/* 管理者注文履歴一覧画面用 */

.title_staffs_orders{
	display:block;
	margin-bottom:100px;
	background-color:#CCCCCC;
	text-align: center;
}

/* 管理者注文履歴一覧画面用 */


/* 管理者履歴詳細画面用 */

.title_staffs_orders_show{
	display:block;
	margin-bottom:50px;
	background-color:#CCCCCC;
	text-align: center;
}

/* 管理者履歴詳細画面用 */


/* 会員ログイン画面 */
.title_backcolor{
	display:block;
	margin-bottom:30px;
	background-color:#CCCCCC;
	text-align: center;
}
/* 会員ログイン画面 */

/*会員新規登録画面 */
form{
  padding:30px 50px;
}

dl dt{
  width: 165px;
  padding:10px 0;
  float:left;
  clear:both;
  margin-left: 300px;
}

dl dd{
  padding:10px 0;
}
/*会員新規登録画面 */

/*会員ヘッダー */
