<h4>ジャンル検索</h4>
<table class="table">
  <tbody>
    <tr>
      <th><%= link_to 'ケーキ', customer_session_path %></th>
    </tr>
    <tr>
      <th><%= link_to '焼き菓子', customer_session_path %></th>
    </tr>
    <tr>
      <th><%= link_to 'ぷりん', customer_session_path %></th>
    </tr>
    <tr>
      <th><%= link_to 'キャンディ', customer_session_path %></th>
    </tr>
  </tbody>
</table>