<h4>ジャンル検索</h4>
<table class="table">
  <tbody>
    <% genres.each do |genre| %>
    <tr>
      <th>
        <%= link_to genre.category_name, genre_product_index_product_path(genre) %>
      </th>
    </tr>
    <% end %>
  </tbody>
</table>