<div class="container staffs_top">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1">
      <span class="title_staffs_top">
        <h3>管理者画面</h3>
      </span>
    </div>
  </div>
</div>

<div class="col-xs-8 col-xs-offset-1">
<div class="order_count">
	<% if @orders.map{|a| a.created_at.in_time_zone('Japan').strftime("%Y/%m/%d")}.include?(Date.today.in_time_zone('Japan').strftime("%Y/%m/%d")) == true %>

		<% @order_today = @orders.map{|a| a.created_at.in_time_zone('Japan').strftime("%Y/%m/%d")} %>
		<% @order_today_tocount = @order_today.pluck(Date.today.in_time_zone('Japan').strftime("%Y/%m/%d")) %>
		<% @order_today_tocount.delete(nil)%>
		<p><strong>本日の注文件数　　　　　<%= link_to @order_today_tocount.count, staffs_orders_today_path %> 件</strong></p>

	<% elsif @orders.map{|a| a.created_at.in_time_zone('Japan').strftime("%Y/%m/%d")}.include?(Date.today.in_time_zone('Japan').strftime("%Y/%m/%d")) == false %>
		<p><strong>本日の注文件数　　　　　0 件</strong></p>

	<% end %>

</div>
</div>