<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <span class="title_staffs_top">
        <h3>管理者画面</h3>
      </span>
    </div>
  </div>
</div>

<div class="order_count">
	<p><strong>本日の注文件数　　　　　８件</strong></p>
</div>